.jumbotron {
    padding-top: 6rem;
    background-color: #D3756B;
}

#projects {
    background-color: #D3756B;  
}
#artikel{
    background-color: #fff;
}
#contact{
    background-color: #D3756B;
}
section {
    padding-top: 5rem;
}
#project-img {
    height: 200px; /* Atur tinggi gambar */
    object-fit: cover; /* Pastikan gambar tetap proporsional */
}
